
@using EPiServer.Core

@model IPageViewModel<SitePageData>
<ul>
    <li>
        @Html.ContentLink(ContentReference.StartPage)
        <ul>
            @foreach (SitePageData page in Model.MenuPages) 
            {
            <li>@Html.ContentLink(page.ContentLink)</li>
            }

        </ul>
    </li>
    <li>
        @if (User.Identity.IsAuthenticated)
        {
        <a href="/en/logout">Log out @User.Identity.Name</a>
        }
        else 
        {
          <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Model.CurrentPage.PageLink"></a>
        }

    </li>

</ul>