@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using Bysoft.Optimizely.Models.ViewModels
@using Bysoft.Optimizely.Models.Pages

@model IPageViewModel<SitePageData>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@*@{Html.RenderPartial("Breadcrumbs", Model);}*@

<div class="row">
    <div class="span4">

        @{Html.RenderPartial("NavigationMenu", Model);}
        @*@RenderSection("_LeftNavigationMenu", false)*@
   
    </div>

    <div class="span8">
        @RenderBody()
    </div>
</div>
